src/test/resources/automation-test-flows.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:dragonballz="http://www.mulesoft.org/schema/mule/dragonballz"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/dragonballz http://www.mulesoft.org/schema/mule/dragonballz/current/mule-dragonballz.xsd">

    <dragonballz:config name="config" configId="configId">
        <dragonballz:connection requiredParameter="aValue" />
    </dragonballz:config>

    <flow name="sayHiFlow">
        <dragonballz:say-hi person="Mariano Gonzalez"/>
    </flow>



    <flow name="crearZwarriorFlow">
        <dragonballz:create-zwarrior config-ref="config">
            <dragonballz:warrior>#[payload]</dragonballz:warrior>
        </dragonballz:create-zwarrior>
    </flow>

    <flow name="getObjectwarriorFlow">
        <dragonballz:get-objectwarrior config-ref="config">
        <dragonballz:id>#[payload]</dragonballz:id>
        </dragonballz:get-objectwarrior>
    </flow>

    <flow name="getMapWarrirosFlow">
        <dragonballz:get-map-warriors config-ref="config"/>
    </flow>

    <flow name="deleteWarriorFlow">
        <dragonballz:delete-warrior config-ref="config">
        <dragonballz:id>#[payload]</dragonballz:id>
        </dragonballz:delete-warrior>
    </flow>

    <flow name="modifyWarriorFlow">
        <dragonballz:modify-warrior id="#[vars.id]" config-ref="config">
            <dragonballz:warrior>#[payload]</dragonballz:warrior>
        </dragonballz:modify-warrior>
    </flow>

<!--
    <flow name="updateNodesFlow">
        <neo4j:update-nodes config-ref="config" label="#[vars.label]">
            <neo4j:parameters>#[vars.parameters]</neo4j:parameters>
            <neo4j:set-parameters>#[payload]</neo4j:set-parameters>
        </neo4j:update-nodes>
    </flow>-->


  <!--
<flow name="retrieveInfoFlow">
        <dragonballz:retrieve-info config-ref="config"/>
    </flow>&ndash;&gt;
-->


</mule>
